/**
 * Arquivo de customização css.
 * 
 * Qualquer personalização de classe do materialize CSS deverá ser 
 * incorporada neste arquivo, bem como qualquer criação de classe completamente nova.
 * 
 * @nando.correa
 */
 
 /* @import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 
* {
    font-family: "Carlito", sans-serif;
} */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

.hover-underline:hover {
    text-decoration: underline;
}

table.highlight tbody tr {
    transition: background-color 0.3s ease;
}

table.highlight tbody tr:hover {
    background-color: #a1d5ffa4;
}

/** classe para aplicar preenchimento de imagens */
.image-padding {
    padding: 30px; /* Ajuste conforme necessário */
    display: inline-block; /* Para a div se ajustar ao tamanho da imagem */
    overflow: hidden;
}
.image-padding.black {
    background-color: black;
}
.image-padding.grey {
    background-color: grey;
}
.image-padding.white {
    background-color: white;
}

/** classe para aplicar bordas em imagens */
.image-border {
    border-radius: 2px; /* Borda arredondada */
    display: inline-block; /* Para a div se ajustar ao tamanho da imagem */
}
.image-border.black {
    border: 1px solid black;
}
.image-border.grey {
    border: 1px solid grey;
}
.image-border.white {
    border: 1px solid white;
}


/** para aplicar animação e esmaecimento às divs com id success-message */
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}

#success-message {
    animation: fadeOut 1s ease-in-out 2s forwards; /* após 2 segundos, começa a esmaecer. após mais 1 segundo, esmaeceu completamente */
}

/** aplica o efeito popup às divs, mesmo rolando a página elas permanecem estáticas */
.popup {
    position: fixed;
    bottom: 20px; /* Espaço em relação ao fundo da página */
    left: 50%;
    transform: translateX(-50%);
    z-index: 999; /* Para garantir que esteja sempre acima do conteúdo */
    width: 80%; /* Largura do popup, em relação ao container em que estiver inscrito */
    max-width: 800px; /* Largura máxima do popup. testar em celulares, ajustar conforme necessário */
}

.msg-box{
    padding: 30px;
}

.code{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    line-height: 0.5;
}

/** 
* para ajuste de imagens em algumas seções específicas como navbars, tabelas, etc
*/
.responsive-img.brand-logo {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 50px;
}
.responsive-img.image-cell {
    max-width: 200px;
}
.responsive-img.avatar-cell {
    width: 80px;
    height: 80px;
}
.responsive-img.avatar-navbar {
    width: 63px;
    height: 63px;
}

/** estilos CSS especificos para impressao */

/* Estilo normal */
.content {
    display: block;
}

/* Estilo para impressão */
.logo-doc-header {
    max-width: 100%;
}
.print-only {
    display: none;
}
@media print {
    body {
        font-size: 85%;
        margin-bottom: 60mm;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 100%;
    }
    p {
        font-size: 85%;
    }
    table {
        font-size: 85%;
    }
    .content {
        margin: 0px;
        padding: 0px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .print-hidden {
        display: none;
    }
    .print-only {
        display: block;
    }
    .footer-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background: white;
        z-index: 9999; /* garante que o footer-container fique acima do conteúdo */
    }
    .logo-doc-footer {
        position: fixed;
        bottom: 10px;
        left: 10px;
        max-width: 150px;
        max-height: auto;
    }
    .text-footer {
        font-size: 12px;
        text-align: center;
        line-height: 18px;
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.photo-legend {
    font-size: 12px;
}

.photo-tag {
    font-size: 16px;
    position: absolute;
    top: 10%;
    left: 50%;
    border-radius: 3px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
}

/** exclusivo para ver_categoria */
.background-category-container {
    position: relative;
    width: 100%;
    height: 300px;
}
.background-category-image {
    display: block;
    max-height: 300px;
    overflow: hidden;
    border-radius: 10px;
}
.background-category-title {
    font-size: 32px;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    position: absolute;
    top: 10%;
    left: 50%;
    border-radius: 3px;
    transform: translate(-50%, -50%); /* Ajuste para centralizar verticalmente */
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 5px;
}
.background-category-description {
    font-size: inherit;
    font-weight: 300;
    text-align: center;
    position: absolute;
    top: 70%;
    bottom: auto;
    left: 50%;
    border-radius: 3px;
    transform: translate(-50%, -50%); /* Ajuste para centralizar verticalmente */
    background-color: rgba(0, 0, 0, 0.15);
    color: white;
    padding: 5px;
    width: 90%;
}

.card-title {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.modal-fixed-width {
    width: 90% !important;
}

/** divs */
.compact-row {
    margin-bottom: 0;
    padding-bottom: 0;
}
.compact-row .col {
    margin-bottom: 0;
    padding-bottom: 0;
}
.section-margins {
    margin-top: 30px;
    margin-bottom: 30px;
}
.section-margin-top {
    margin-top: 50px;
}
.section-margin-bottom {
    margin-bottom: 20px;
}
.side-margins{
    margin-left: 15px;
    margin-right: 15px;
}

/** tabelas */
.compact-table {
    width: 100%;
    border-collapse: collapse;
}
.compact-table th, 
.compact-table td {
    border: none;
    padding: 8px;
    /* text-align: left; */
}
.no-border-table {
    width: 100%;
    border-collapse: collapse;
}
.no-border-table th, 
.no-border-table td {
    border: none !important;
    padding: 8px;
    /* text-align: left; */
}
.no-border-table th {
    margin-top: 10px;
    margin-bottom: 4px;
}
.scrollable-table {
    width: 95%;
    height: 500px;
    overflow: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.bordered th, .bordered td {
    border: 1px solid rgba(0, 0, 0, 0.233);
    padding: 8px;
    /* text-align: left; */
}
th.min-width-25 {
    min-width: 25%;
}

/** imagens */
.img-max-width {
    max-width: 1080px;
}

.search-terms {
    background-color: #f8f8f8;
    padding: 15px;
    border: 1px solid;
    border-color: #aaa;
    border-radius: 5px;
}

.small-text {
    font-size: 12px;
}

.justify {
    text-align: justify;
    /* hyphens: auto; */
}